body #container #aside-main-aside div {
  border: 2px solid rgba(255, 255, 255, 0);
}

body {
  background-color: #e0e0e0;
  font-family: "Roboto Condensed", sans-serif;
}
body #container {
  margin: 0 2.19em;
  /*beging navbar*/
  /*navbar ending*/
  /*main aside begining*/
  /*main aside ending*/
}
body #container a {
  color: black;
  font-weight: bolder;
}
body #container a:hover {
  color: #f72210;
  text-decoration: none;
}
body #container .category {
  display: block;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
body #container .category a {
  color: #f72210;
  font-weight: bold;
}
body #container nav {
  position: relative;
  background-color: #f72210;
  color: white;
  padding: 1em;
}
body #container nav .align-text-bottom {
  margin-top: auto;
}
body #container nav .align-text-bottom date {
  margin: 0;
}
body #container nav a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1px;
  padding: 0em .5em;
}
body #container nav .a2 {
  background-color: white;
  color: #f72210;
}
body #container nav .a2 svg {
  width: 8px;
  height: 14px;
  margin-left: 5px;
}
body #container nav .a2 svg g {
  fill: #f72210;
}
body #container nav g {
  fill: white;
}
body #container .header-bottom {
  position: absolute;
  top: 5.8em;
  left: 79.5em;
  height: 16px;
  width: 89px;
  background-color: #f72210;
  border-left: 21px solid white;
  border-top: 16px solid #f72210;
  z-index: 1100;
}
body #container #bar-with-anchors {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #e0e0e0;
}
body #container #bar-with-anchors .col-sm {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
body #container #bar-with-anchors input {
  width: 80px;
}
body #container #bar-with-anchors a {
  font-family: "Roboto Condensed",sans-serif;
  border-right: 1px solid #e0e0e0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body #container #aside-main-aside {
  background-color: white;
  margin: 0 -.99em;
  padding: 1em 3em;
  /*selecting main containers*/
  /*selecting main containers end*/
}
body #container #aside-main-aside div {
  padding: 0;
}
body #container #aside-main-aside div h2 {
  font-size: 16px;
  color: #818181;
  font-weight: bold;
}
body #container #aside-main-aside div h4 {
  font-weight: bold;
}
body #container #aside-main-aside .row {
  margin-right: 0px;
  margin-left: 0px;
}
body #container #aside-main-aside #FeaturedStories {
  border: 2px solid #f72210;
  right: 2em;
}
body #container #aside-main-aside #FeaturedStories .category {
  top: 200px;
}
body #container #aside-main-aside #topStory .category {
  top: 17.7em;
}
body #container #aside-main-aside #topStory #culture-travel {
  background: #e0e0e0;
  border-color: #e0e0e0;
}
body #container #aside-main-aside #topStory #culture-travel a {
  background: #c2d4d7;
  font-weight: 100;
}
body #container #aside-main-aside #topStory #culture-travel p {
  color: #8d8d8d;
}
body #container #aside-main-aside #topStory #moreStories {
  margin-top: 1em;
}
body #container #aside-main-aside #topStory #moreStories .section {
  border-bottom: 2px solid #e0e0e0;
}
body #container #aside-main-aside #opinion {
  margin-left: 26px;
  left: 26px;
}
body #container #aside-main-aside #opinion #opinions .opinion {
  border-bottom: 2px solid #e0e0e0;
}
body #container #aside-main-aside #opinion #opinions .opinion .row {
  font-weight: bolder;
  color: black;
}
body #container #aside-main-aside #opinion #opinions .opinion .row .author {
  font-size: 14px;
  color: #6d6d6d;
}
body #container #aside-main-aside #opinion #opinions #latestNews {
  margin-top: 1.5em;
}
body #container #aside-main-aside #opinion #opinions #latestNews .news {
  border-bottom: 2px solid #e0e0e0;
}
body #container #aside-main-aside #opinion #sign-up-container {
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up {
  margin: 2em;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up span {
  background: #f72210;
  width: 2em;
  height: 10px;
  padding: 4px 0em 7px 0px;
  border: 0;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up span svg {
  fill: white;
  width: 2em;
  height: 2em;
  border: 0;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up .col-8 p {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up .a2 {
  background-color: #666666;
  color: white;
  padding: .5em 1em;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up .a2 svg {
  width: 8px;
  height: 14px;
  margin-left: 5px;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up .a2 svg g {
  fill: white;
}
body #container #aside-main-aside #opinion #sign-up-container #sign-up g {
  fill: white;
}
